docs/*
packages/components/*
packages/mixin/*
packages/libs/*
packages/index.js
packages/locale/format.js
packages/locale/index.js
public/*
dist/*
node_modules/*
.github
.vscode
yarn.lock
yarn-error.log