docs/*
packages/components/*
packages/mixin/*
packages/libs/*
packages/index.js
packages/locale/format.js
packages/locale/index.js
stories/*
.storybook/*
storybook-static/*
doc_deploy.sh
public/*
dist/*
node_modules/*
.github
.vscode